---
import "../styles/global.css"
import BlogPost from "../components/BlogPost.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
const allPosts = await Astro.glob("../pages/posts/*.md")

const pageTitle = "My Astro Learning Blog"
---

<BaseLayout pageTitle={pageTitle}>
	<html lang="en">
		<body>
			<p>My blog will be here</p>
			<ul>
				{
					allPosts.map((post) => (
						<BlogPost url={post.url} title={post.frontmatter.title} />
					))
				}
			</ul>
		</body>
	</html>
</BaseLayout>
