---
import { getCollection } from "astro:content"
import "../styles/global.css"
import BlogPost from "../components/BlogPost.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
const allPosts = await getCollection("posts")

const pageTitle = "My Astro Learning Blog"
---

<BaseLayout pageTitle={pageTitle}>
	<html lang="en">
		<body>
			<p>My blog will be here</p>
			<ul>
				{
					allPosts.map((post) => (
						<BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
					))
				}
			</ul>
		</body>
	</html>
</BaseLayout>
