---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

    <body>
        <div><a href="/">Home</a></div>
        <div><a href="/about/">About</a></div>
        <div><a href="/blog/">Blog</a></div>  

        <h1>Blog</h1>
      
        <p>My blog will be here</p>
      </body>
</html>
