---

---

<div>
	<a href="/">Home</a>
	<a href="/about/">About</a>
	<a href="/blog/">Blog</a>
</div>

<style>
	div {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}
	a {
		text-decoration: none;
	}
</style>
